.border {
    border: 2px solid red;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #222;
  /* padding: 2px; */
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 35px;
  height: 35px;
  fill: gray;
  transition: fill 0.2s;
}

.play-icon {
  width: 48px;
  height: 48px;
}

.control-btn:hover .icon,
.control-btn:hover .play-icon polygon {
  fill: #575757; /* Spotify green */
}


